
@{
    ViewData["Title"] = "Hello1";
}

<h1>Hello1</h1>

cshtml > extensin for the views 
// is is a html page ? NO
Its a rajor page parsed by rajor engine

cshtml > contains server side code & html markup

server side code will start and will be writeen in @{} 