@model MVCDemo.Models.Student  // any view which is receiving any object
@* // any view which ius based on a model is ks stronglytyped view *@

@{
    ViewData["Title"] = "Display2";
}

<h1>Display2</h1>

 
   ID is @Model.Id
<br />
   Name is @Model.Name
<br />
   Batch is @Model.Batch
<br />
   DOJ is @Model.Doj

