
@{
    ViewData["Title"] = "Display1";
}

<h1>Display1</h1>

   ID is @ViewBag.student.Id <br/>
   Name is @ViewBag.student.Name <br/>
   Batch is @ViewBag.student.Batch <br/>
   DOJ is @ViewBag.student.Doj

